#header {
    height: 100px;
    width: auto;
    /*background-color: blue;*/
    display: flex;
    justify-content: space-between;
}

img {
    height: 100%;
}

    #main {
    position: relative;
    display: flex;
    /*padding-left: 150px;*/
    padding-right: 150px;
    height: 325px;
    /*margin-right: 20px;*/
    background-color: rgb(9, 9, 80);
    color: white;
    font-size: 20pt;
    text-align: left;
}

#tulips {
    position: relative;
    display: flex;
    /*padding-left: 150px;*/
    padding-right: 150px;
    margin-top: 40px;
    margin-left: 40px;
    height: 875px;
    /*margin-right: 20px;*/
    background-color: white;
    color: black;
    font-size: 20pt;
    text-align: left;
}

#quote {
    position: relative;
    display: block;
    padding: 0px 35px 35px;
    margin-top: 60px;
    height: 220px;
    /*margin-right: 20px;*/
    background-color: hsl(188, 61%, 80%);
    color: black;
    font-size: 25pt;
    font-weight: light;
    font-family: sans-serif;
    text-align: center;
    align-items:baseline;
    
}


#tulips h2 {
    position: relative;
    background-color: white;
    color: black;
    font-weight: bolder;
    font-size: 30pt;
    text-align: left;
}

#tulips h3 {
    position: relative;
    background-color: white;
    color: black;
    font-weight: lighter;
    font-size: 30pt;
    text-align: left;
}

#rounded {
    border-radius: 0 100px 100px 0;
    margin-right: 20px;
}

.button {
    background-color: rgb(38, 198, 209);
    height: 50px;
    width: 300px;
    border-radius: 25px;
    text-align: left;
    font-size: 19pt;
    color: white;
    position: relative;
}

.button:hover {
    background-color:rebeccapurple;
}

.modal{
    display: none;
    position: fixed;
    background-color: rgb(86, 86, 94);
    z-index:1;
    left: 35%;
    top: 70%;
    padding: 2px;
    height: 65px;
    width: 30%;
    box-shadow: 0 5px 8px 0 rgba(231, 16, 16, 0.2), 0 7px 20px 0 rgb(224, 19, 19);
    animation-name: modalopen;
    animation-duration: 1s;
    border-radius: 12px;
}

.modal-content{
    background-color: rgb(114, 114, 153);
    margin: 0% 0%;
    height: 65px;
    color: white;
    text-align: center;
    }

.closeBtn {
    background-color: rgb(54, 54, 63);
    position: relative;
    top: 5px;
    color: #ccc;
    margin: calc(50% - 21px);
    border-radius: 4px;
}

.closeBtn:hover, .closeBtn:focus {
    color: green;
    text-decoration: none;
    cursor: pointer;
}

.closeX {
    background-color: rgb(54, 54, 63);
    color: #ccc;
    float: right;
    font-size: 20px;
}

.closeX:hover, .closeBtn:focus {
    color: green;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from { opacity: 0;}
    to { opacity: 1;}
}